# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Prerquisites
*.d

#ignore Debug folder
[Dd]ebug
/[Dd]ebig/
#ignore vs suo info
.vs

#ignore vs suo info
.vs
*.vs